/*
 * OpenAPI definition
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.SendOtpRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ResendOtpApi {
    private ApiClient localVarApiClient;

    public ResendOtpApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ResendOtpApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for resendOTP
     * @param sendOtpRequest  (required)
     * @param clientType  (optional)
     * @param uuid  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Resend OTP successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call resendOTPCall(SendOtpRequest sendOtpRequest, String clientType, String uuid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = sendOtpRequest;

        // create path and map variables
        String localVarPath = "/otp/resend";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (clientType != null) {
            localVarHeaderParams.put("clientType", localVarApiClient.parameterToString(clientType));
        }

        if (uuid != null) {
            localVarHeaderParams.put("uuid", localVarApiClient.parameterToString(uuid));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call resendOTPValidateBeforeCall(SendOtpRequest sendOtpRequest, String clientType, String uuid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'sendOtpRequest' is set
        if (sendOtpRequest == null) {
            throw new ApiException("Missing the required parameter 'sendOtpRequest' when calling resendOTP(Async)");
        }
        

        okhttp3.Call localVarCall = resendOTPCall(sendOtpRequest, clientType, uuid, _callback);
        return localVarCall;

    }

    /**
     * Resend OTP
     * Resend OTP
     * @param sendOtpRequest  (required)
     * @param clientType  (optional)
     * @param uuid  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Resend OTP successfully </td><td>  -  </td></tr>
     </table>
     */
    public String resendOTP(SendOtpRequest sendOtpRequest, String clientType, String uuid) throws ApiException {
        ApiResponse<String> localVarResp = resendOTPWithHttpInfo(sendOtpRequest, clientType, uuid);
        return localVarResp.getData();
    }

    /**
     * Resend OTP
     * Resend OTP
     * @param sendOtpRequest  (required)
     * @param clientType  (optional)
     * @param uuid  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Resend OTP successfully </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<String> resendOTPWithHttpInfo(SendOtpRequest sendOtpRequest, String clientType, String uuid) throws ApiException {
        okhttp3.Call localVarCall = resendOTPValidateBeforeCall(sendOtpRequest, clientType, uuid, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Resend OTP (asynchronously)
     * Resend OTP
     * @param sendOtpRequest  (required)
     * @param clientType  (optional)
     * @param uuid  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Resend OTP successfully </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call resendOTPAsync(SendOtpRequest sendOtpRequest, String clientType, String uuid, final ApiCallback<String> _callback) throws ApiException {

        okhttp3.Call localVarCall = resendOTPValidateBeforeCall(sendOtpRequest, clientType, uuid, _callback);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
